.main-layout {
  min-height: 100vh;
  background: #f7f8fa;
}

.main-content-area {
  min-height: 100vh;
  margin-left: 248px;
}

.main-page-content {
  min-height: 100vh;
  padding-top: 72px;
}

@media (max-width: 900px) {
  .main-content-area {
    margin-left: 220px;
  }
}

@media (max-width: 700px) {
  .main-content-area {
    margin-left: 0;
  }

  .main-page-content {
    padding-top: 0;
  }
}